

#content_body{
  width: 100%;
  height: 1300px;
}

.content_body_news{
  width: 100%;
  height: 650px;
}
.news_title{
  font-weight:bold;
  font-size: 18px;
  height: 40px;
}

.news_info{
  margin: 8px 0 auto;
  height: 20px;
}

.news_date{
  float: left;
  font-size: 14px;
  font-weight: normal;
}

.news_readAll a{
  float: left;
  margin: 0 8px auto;
  font-size: 14px;
  font-weight: bold;
  color:blue;
  text-decoration:none;
}

.news_readAll a:link,a:visited{
  color:blue;
}

.news_readAll a:hover,a:active{
  text-decoration:underline;
  color:#F41753;
}

.news_img{
  margin: 10px 0 auto;
  width: 600px;
  height: 400px;
}

.news_body{
  height: 180px;
  margin-top: 30px;
}




