*{
  margin: 0;
  padding: 0;
}
p{
  color: #342A45;
}


body{
  height: 2000px;
}

#header{
  background-color: white;
  width: 90%;
  height: 250px;
  margin: 0 auto;
}

#header_info{
  float: left;
  width: 70%;
  height: 128px;
  margin-top: 100px;
}
#header_icon{
  float: left;
}
#header_info_right{
  float: left;
  height: 128px;
  width: 400px;
  margin: 0 24px auto;
}
#header_info_name{
  font-family:Arial;
  font-weight:bold;
  font-size: 48pt;

}
#header_info_career{
  font-size: 18pt;
  font-family:Arial;
}

#header_info_location_address{
  font-size: 18pt;
  font-family:Arial;
  float: left;
}
#header_info_location_address img{

   text-align: center;
}

#header_link{
  float: right;
  margin: auto;
  margin-top: 165px;
  width: 220px;
  height: 66px;
}
#header_link_icons{
  
  width: 220px;
  margin-top: 10px;
  justify-content: center;
}
#header_link_icons div{
  float: left;
  width: 53px;
  height: 28px;
}


/*********主体*************************/
#content{
  width: 600px;
  height: 1500px;
  margin: 0 auto;
  clear: both;
}
#content_nav{
  width: 100%;
  height: 100px;
}
#content_nav_body{
  width: 100%;
  height: 40px;
  padding-top: 30px;
}

#content_nav ul{
  list-style-type:none;
  padding-top:6px;
  padding-bottom:6px;
}
#content_nav li{
  display: inline;
  width: 90px;
  margin: 0 20px auto;
}

#content_nav a{
  font-weight:bold;
  color:black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

#content_nav a:link,a:visited{
  color:black;
}
#content_nav a:hover,a:active{
  text-decoration:underline;
  color:#F41753;
}

#content_body{
  width: 100%;
  height: 1300px;
}

.content_body_news{
  width: 100%;
  height: 650px;
}
.news_title{
  font-weight:bold;
  font-size: 18px;
  height: 40px;
}

.news_info{
  margin: 8px 0 auto;
  height: 20px;
}

.news_date{
  float: left;
  font-size: 14px;
  font-weight: normal;
}

.news_readAll a{
  float: left;
  margin: 0 8px auto;
  font-size: 14px;
  font-weight: bold;
  color:blue;
  text-decoration:none;
}

.news_readAll a:link,a:visited{
  color:blue;
}

.news_readAll a:hover,a:active{
  text-decoration:underline;
  color:#F41753;
}

.news_img{
  margin: 10px 0 auto;
  width: 600px;
  height: 400px;
}

.news_body{
  height: 180px;
  margin-top: 30px;
}

#content_page{
  width: 100%;
  height: 100px;
}

#content_page_next, #content_page_more{
  float: right;
  margin-top: 30px;
  margin-left: 10px;
}

#footer{
  width: 600px;
  height: 250px;
  margin: 0 auto;
}

#footer_left{
  height: 60px;
  margin-top: 20px;
  float:left;
}

#footer_work a{
  /*style:none;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size:16pt;
  font-weight:bold;
  text-decoration:none
}

#footer_work a:link,a:visited{
  color:blue;
}

#footer_work a:hover,a:active{
  text-decoration:underline;
  color:#F41753;
}

#footer_email{
  margin-top: 10px;
  color: #342A45;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;

}

#footer_right{
  float: right;
  height: 15px;
  color: #342A45;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin-top: 60px;
}
