#content{
  width: 90%;
  
}

#content_nav{
  width: 600px;
  margin: auto;
}

#content_work{

  width: 90%;
  height: 1400px;
  margin: auto;
}

#content_work .content_img{

  float: left;
  margin-left: 30px;
  margin-top: 5px;

}
