*{
    margin: 0;
    padding: 0;
}
#header{
   /*display: block;*/
   width: 390px;
   height: 128px;
   margin: 100px 0 auto;
   padding: 0;
   overflow:hidden;
   float:left;
   background-color: #FFFF54;
}
#head_portrait{
    float: left;
    width: 90px
    height: 90px;
    /*margin: 100px 24px 42px 80px;*/
    margin: 0;
    border-radius: 50%;
}
#head_right{
  /*width: 240px
  height: 130px;*/
  margin-left: 24px;
  height: 128px;
  width: 238px;
  padding: 0;
  float: left;

}

#petti_chen{
    margin: 0;
    padding: 0;
    height: 48px;
    font-family:Arial;
    font-weight:bold;
    font-size: 48px;
    
}
    
#ui_designer{
    font-size: 11px;
    font-family:Arial;
    margin:12px 4px auto;
}

#icon_location{
    float:left;
}
#icon_location img{
    width: 13px;
    height: 16px;
    margin: 15px 0 auto;
}
#address{
    float:left;
    font-size: 11px;
    font-family:Arial;
    margin: 14px 2px auto;
}

#details{
      width: 232px;
   height: 65px;
   margin: 130px 80px 0 auto;
   padding: 0;
   overflow:hidden;
   float:right;
   background-color: #FFFF54;
}
#text_personal_link{
    margin: 0;
    padding: 0;
    font-family:Arial;
    font-weight:normal;
    font-size: 18px;
}
#details_half{
    margin-top: 12px;
    padding: 0;
    width: 232px;
    height: 28px;
    float:left;    
}
#details_half a:link,a:visited{
}
#details_half a:hover,a:active{
   a 
}







#icon_dribbble{
    float:left;
}

#icon_dribbble  img{
    width: 28px;
    height: 28px; 
}
#icon_facebook{
    float:left;
    margin-left: 40px;
}
#icon_facebook img{
    width: 28px;
    height: 28px; 
}
#icon_linkedin{
    float:left;
    margin-left: 40px;
}
#icon_linkedin img{
    width: 28px;
    height: 28px; 
}
#icon_sina_weibo{
    float:left;
    margin-left: 40px;
}
#icon_sina_weibo img{
    width: 28px;
    height: 28px;
}
#icon_dribbble a:link,a:visited{
    background:url(icon_dribbble.png)no-repeat; width:28px; height:28px; display:inline-block;_float:left;
   
}
#icon_dribbble a:hover,a:active{
    
    background:url(icon_dribbble.png)no-repeat;
    }

#article-left{
    width: 20%;
    float: left;
    
} 

/*#article-left{
    width: 20%;
    height: auto;
    float: left;

}*/
#article{
    width: 60%;
    overflow:hidden;
    
    /*margin-left: 25%;*/

    
}

#nav{
    
    height: 80px;

    overflow:hidden;
}
li{
list-style:none;
font-family:Arial,Verdana,Sans-serif;
float:left;
margin-top: 30px;
}
#nav a:link,a:visited
{

display:block;
width:56px;
font-weight:normal;
color:#342A45;
background-color:#FFFFff;
text-align:center;
padding:30px;
text-decoration:none;
text-transform:uppercase;
}
#nav a:hover,a:active
{
text-decoration:underline;
color:#F41753;
}

 


#article-inner{
    width: 600px;
    margin-top: 40px;
}
#article_title{
    margin: 0;
    padding: 0;
    font-weight:bold;
    font-size: 18px;
    color: #342A45;
}
#article-inner-a{
    margin-top: 8px;
}

#title_time{
    float: left;
    margin: 0;
    padding: 0;
    
}
#yueduquanwen{
    float: left;
    margin: 0 8px auto;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #584E69;
    text-decoration:none;
}
#yueduquanwen a 
{ text-decoration:none}

#title_picture{
    margin-top: 40px;
}
#article_body_part{
    margin-top: 20px; 
}
#flip_over_effect{
    width: 600px;
    margin-top: 44px;
}
#flip_over_effect_bj{
    margin: 0;
    padding: 0;
    width: : 112px;
    height: 44px;
    /*float: left;*/
    background-color: #FFFF54;
}
#button_next_page img{

    width: 44px;
    height: 44px;
    float: left;

}
#button_more img{
    width: 44px;
    height: 44px;
    float: right;
}
#empty_div{
    clear: both;
}


/*#footer-bj{
    width: 100%;
    float: left;
    margin-top: 40px;
    margin: 0 0 0 100px;*/
}
#footer{
    width: 60%;
    height: 240px;
    /*background-color: #FFFF54;*/
    background-color: yellow;
    /*overflow:hidden;*/
}
#footer-content{
    width: 50%;
    height: 58px;
    float:left;
    /*margin: 40 auto;*/
    margin-left: 30%;

}
#work-1{
    style:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16pt;
    font-weight:bold;
    margin-top: 20px;    
}
#work-1 a 
{ text-decoration:none}

#email{
    margin-top: 10px;
    height: 15px;
    color: #342A45;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
#copyright{
    width: 30%;
    float: right;
    color: #342A45;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-right: 20%;
}

body{
    height: 2000px;
}

</style>
</head>
</html>